body {
    background-color: lightslategrey;
}
* {
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-style: italic;
}
nav ul {
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover {
    background-color: black;
}
.contenido {
    display: flex;
    margin: 60px;
}
.articulos {
    width: 80%;
    border-right: 3px solid black;
}
.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
}
.menu-secundario {
    width: 20%;
    margin-top: 60px;
}
.menu-secundario a {
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
footer {
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: inline-flex;
}
.product img {
    width: 150px;
}
.product h3 {
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


