@{
     ViewData["Title"] = "Home Page";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
   <center><h1>Bienvenido</h1>
</center>

<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngset.com%2Fdownload-free-png-uilaw&psig=AOvVaw0wwZCwt9OGp0JWtJtnk2W5&ust=1653726554148000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCPCv4Neh__cCFQAAAAAdAAAAABAK"/>
