@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Administrador</h1>
    <center><img src="https://cdn-icons-png.flaticon.com/512/2416/2416666.png" /></center>
</div>
